@use '@src/constants/global.scss' as global;

.grid {
  position: relative;
  margin-top: 40px;
  display: grid;
  min-height: 300px;
}

.threeColumns {
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.twoColumns {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content;
  gap: 15px;
}

@media (max-width: 950px) {
  .threeColumns {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .twoColumns {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 650px) {
  .threeColumns {
    grid-template-columns: repeat(1, 1fr);
  }
}