@use '@src/constants/global.scss' as global;

.registration {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: global.$modalBackgroundColor;
  padding: 20px;
}

.registration_form {
  width: 100%;
  max-width: 400px;
  background-color: global.$secondaryBackgroundColor;
  padding: 30px;
  border-radius: global.$mediumBorderRadius;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.form_header {
  text-align: center;
  margin-bottom: 40px;
}

.form_fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form_field_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_field {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  padding: global.$smallPadding;
  border: global.$primaryBorderThin;
  border-radius: global.$mediumBorderRadius;
  font-size: global.$fontSizeCaptionMedium;
}

.form_field_error {
  color: global.$errorsColor;
}

.submit_wrapper {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .link {
    text-decoration: underline;
    white-space: nowrap;
    transition: 300ms all;
  }
}

.loader_container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.modal {
  margin-top: 20px;
  color: global.$errorsColor;
}

@media (hover:hover) {
  .link:hover {
    color: global.$secondaryActiveColor;
  }
}