@use './fonts.scss';
@use '@src/constants/global.scss' as global;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: global.$fontSizeBase;
  font-family: 'Poppins';
  color: global.$primaryColor;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}